@import url("/styles/navbar.css");
@import url("/styles/cabecalho.css");
@import url("/styles/metricas.css");
@import url("/styles/vagas.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    
    --branco: #FFFFFF;    
    --preto-logo: #3A404E;    
    --preto: #101828;
    --cinza: #667085;   
    --vermelho: #8E2424;
    --cor-de-fundo:  var(--branco);
    --fonte-principal: "Inter";
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 16px;
}